// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

body {
 background:#5FAD56;

}

.container {
  // background: purple;
   color: black;
}

.pic-info {
  margin: auto;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  max-width: 40rem;
  max-height: 40rem;
}

.intro-text {
  color: black;
  font-size: 7px;

}

.skills1 {
 font-size: 25px;

}

.main-container {
  background: grey;
  border: solid black 2px;
}

.links {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

.skills-container {
  // margin: 0 0 10.5px;
  background: #5FAD56;
  border-bottom: solid #33658A;
  // border-top: solid #33658A;
}

.skills {
 // font-size: 18px;
 padding-left: 50px;
 padding-right: 50px;
 color: black;

}

.names {
  color: black;
}

.quote1 {
  display: flex;
  justify-content: center;
  color: black;
  font-style: oblique;
  font-size: 30px;
  margin: auto;
  background-color: #3AB795;
  border-bottom: solid #33658A;
  padding-left: 50px;
  padding-right: 50px;
  }

.quote2 {
  display: flex;
  justify-content: center;
  color: black;
  font-style: oblique;
  // padding-top: 3rem;
  margin: auto;
  background-color: #3AB795;
  border-top: solid #33658A;
  border-bottom: solid #33658A;
  padding-left: 50px;
  padding-right: 50px;

}

.title {
  text-align: center;
  color: black;
}

.contact-box {
  background: white;
}
