// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

body {
 background: red;
}

.main-container {
  background: grey;
  border: solid black 2px;
}

.links {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}
