// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

body {
 background:grey;

}

.skills1 {
  font-size: 25px;
}

.main-container {
  background: grey;
  border: solid black 2px;
}

.links {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

.skills-container {
  margin: auto;
  background: grey;

}

.skills {
  margin: auto;
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-around;
  // color: black;

}

.quote1 {
  display: flex;
  justify-content: center;
  color: white;
  font-style: oblique;
}

.title {
  text-align: center;
}

.contact-box {
  background: white;
}
